@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  } */

html,
body {
  height: 100%;
}

#qr::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* ne mettez pas une taille trop grande. sinon le qr code ne sera plus lisible */
  width: 36%;
  height: 36%;
  border-radius: 50%;

  background: url("https://www.243tech.com/avatar.png") no-repeat center;
  background-size: cover;
}
